<mat-toolbar layout="fill">
  <span class="fill-space"></span>
  <a [href]="telegramUrl" target="_blank">
    <img
      width="32"
      hspace="10"
      src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/37_social-512.png"
      alt=""
      matTooltip="Telegram"
      matTooltipPosition="below"
    />
  </a>
  <a [href]="twitterUrl" target="_blank">
    <img
      width="32"
      hspace="10"
      src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/2_social-512.png"
      alt=""
      matTooltip="Twitter"
      matTooltipPosition="below"
    />
  </a>
  <a [href]="youtubeUrl" target="_blank">
    <img
      width="32"
      hspace="10"
      src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/6_social-512.png"
      alt=""
      matTooltip="YouTube"
      matTooltipPosition="below"
    />
  </a>
  <a [href]="linkedinUrl" target="_blank">
    <img
      width="32"
      hspace="10"
      src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/4_social-512.png"
      alt=""
      matTooltip="LinkedIn"
      matTooltipPosition="below"
    />
  </a>
  <span class="fill-space"></span>
</mat-toolbar>
<mat-list [ngStyle]="{ display: 'none' }">
  <mat-list-item></mat-list-item>
</mat-list>
