<mat-toolbar color="primary" layout="fill">
  {{ title }}
  <span class="fill-space"></span>
  <a [href]="gcloudUrl" target="_blank">
    <img
      width="75px"
      src="https://cloud.google.com/images/social-icon-google-cloud-1200-630.png"
      alt=""
      matTooltip="LinkedIn"
      matTooltipPosition="above"
    />
  </a>
</mat-toolbar>
