:host {
  border: 0;
  padding: 0;
  height: 100%;
  display: grid;
  place-content: center;
  background: url(https://media.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif)
    no-repeat center center fixed;
  background-size: cover;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
}

button {
  width: 100%;
}

.gradient-title {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
