<k8s-header> </k8s-header>

<mat-card
  fxFlex
  fxLayoutAlign="start center"
  fxLayout="column"
  class="main"
  [style.borderRadius.px]="'0'"
>
  <p style="text-align: center">
    Served by
  </p>
  <p style="text-align: center" class="gradient-title">
    <b>{{ hostname$ | async }}</b> <br />
  </p>
</mat-card>

<mat-card
  fxFlex
  fxLayoutAlign="start center"
  fxLayout="column"
  class="main"
  [style.borderRadius.px]="'0'"
  [style.paddingTop.px]="'60'"
>
  <h3 style="text-align: center">Likes</h3>
  <h1 class="likesCnt" style="text-align: center" class="gradient-title">
    {{ likes$ | async }}
  </h1>
  <br />

  <button mat-raised-button color="primary" (click)="like()">👍</button>
</mat-card>

<k8s-main [angularVersion]="ngVersion" [materialVersion]="matVersion">
</k8s-main>
<footer layout="row" class="md-padding">
  <k8s-footer></k8s-footer>
</footer>
