<mat-card [style.fontSize.px]="'14'" [style.borderRadius.px]="'0'">
  <mat-card-content>
    <p style="text-align: center">
      Angular <b>{{ angularVersion }}</b> & Material <b>{{ materialVersion }}</b
      >. <br />
    </p>
  </mat-card-content>
</mat-card>
